$primary: #966b9d;
$secondary: #c98686;
$fawn: #f2b880;
$seashell: #fff4ec;
$champagne: #e7cfbc;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        max-width: 780px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &.one {
        background-color: $secondary;
        text-align: center;

        h1 {
            font-size: 3rem;
            color: $champagne;
        }
        
        p {
            font-size: 1.25rem;
            color: $champagne;
        }

        span {
            display: block;
            font-size: 0.5rem;
            margin-top: 2rem;
            color: $champagne;
        }

        button {
            background-color: transparent;
            border: solid 2px $champagne;
            border-radius: 10rem;
            padding: .5rem 2rem;
            color: $champagne;
            font-weight: 600;
            font-size: 1.25rem;
            cursor: pointer;
            display: inline-block;
            margin-top: 1.5rem;
            animation: buttonStart 3s linear 2s infinite alternate;
        }
    }

    &.two {
        display: none;
        background-color: $primary;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: $champagne;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                cursor: pointer;
                margin-bottom: 1rem;
                font-weight: 500;
                font-size: 1.25rem;
                color: $champagne;
                border: solid 1px transparent;

                &.active {
                    border: 1px $champagne solid;
                    border-radius: 10rem;
                    background: rgba(231, 207, 188, 0.192);
                }
            }
        }

        button {
            background-color: transparent;
            border: solid 2px $champagne;
            border-radius: 10rem;
            padding: .5rem 2rem;
            color: $champagne;
            font-weight: 600;
            font-size: 1.25rem;
            cursor: pointer;
            margin-top: 1.5rem;
            transform: translateY(80px);
            visibility: hidden;
            opacity: 0;
            transition: all .65s ease-in-out;

            &.animation {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                animation: buttonStart 3s linear infinite alternate;
            }
        }
    }

    &.three {
        display: none;
        background-color: $secondary;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: $champagne;

        }
        
        ul {
            list-style: none;
            padding: 0;

            li {
                cursor: pointer;
                font-size: 1.25rem;
                margin-bottom: 1rem;
                font-weight: 500;
                color: $champagne;
                border: solid 1px transparent;
                
                &.active {
                    border: 1px $champagne solid;
                    border-radius: 10rem;
                    background: rgba(231, 207, 188, 0.192);
                    max-width: 150px;
                    margin: 0 auto 1rem auto;
                }
            }
        }

        button {
            background-color: transparent;
            border: solid 2px $champagne;
            border-radius: 10rem;
            padding: .5rem 2rem;
            color: $champagne;
            font-weight: 600;
            font-size: 1.25rem;
            cursor: pointer;
            margin-top: 1.5rem;

            transform: translateY(80px);
            visibility: hidden;
            opacity: 0;
            transition: all .65s ease-in-out;

            &.animation {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                animation: buttonStart 3s linear infinite alternate;
            }
        }
    }

    &.four {
        display: none;
        background-color: $primary;
        text-align: center;
        padding: 2rem 0;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: $champagne;
        }

        ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            li {
                cursor: pointer;
                font-size: 1.25rem;
                margin-bottom: 1rem;
                font-weight: 500;
                color: $champagne;
                border: solid 1px transparent;
                width: 100%;

                &.active {
                    border: 1px $champagne solid;
                    border-radius: 10rem;
                    background: rgba(231, 207, 188, 0.192);
                    max-width: 150px;
                    margin: 0 auto 1rem auto;
                }
            }
        }

        button {
            background-color: transparent;
            border: solid 2px $champagne;
            border-radius: 10rem;
            padding: .5rem 2rem;
            color: $champagne;
            font-weight: 600;
            font-size: 1.25rem;
            cursor: pointer;
            margin-top: 1.5rem;

            transform: translateY(80px);
            visibility: hidden;
            opacity: 0;
            transition: all .65s ease-in-out;

            &.animation {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                animation: buttonStart 3s linear infinite alternate;
            }
        }
    }

    &.five {
        display: none;
        background-color: $fawn;
        position: relative;

        .actions {

            display: flex;
            flex-direction: column;
            gap: 1rem;
            

            button {
                border: solid 2px $primary;
                background-color: transparent;
                padding: 0.5rem 1.5rem;
                font-weight: 600;
                font-size: 1.25rem;
                border-radius: 10rem;
                min-width: 300px;
                margin: 0 auto;
                cursor: pointer;
                
    
                &:first-of-type {
                    background-color: $primary;
                    color: $seashell;
                }
    
                &:last-of-type {
                    color: $primary;
                }
            }
        }
        
    }
}

.disabled {
    color: gray;
}

#confirm {
    color: $primary;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

canvas {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: -9px;
}

@keyframes buttonStart {
    0%{
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}